body{
  background-color:#f2cc8f
}

.box1{background:#198754;}
.box2{background:#F2CC8F;}
.box3{background:#198754;}
.box4{background:#F2CC8F;}
.box5{background:#198754;}
.box6{background:#F2CC8F;}
.box7{background:#198754;}
.box8{background:#198754;}
.box9{background:#F2CC8F;}
.box10{background:#198754;}

